<!DOCTYPE html>
<html>
<head>
	<title>Python</title>
	<meta charste="utf-8">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'bootstrap.css')}}">
	<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
	<script>tinymce.init({ selector:'textarea',  plugins : 'advlist autolink link image lists charmap print preview table'});</script>
</head>
<body>
	<div class="container-fluid" style="padding: 0px">

		<nav class="navbar navbar-default" style="margin-bottom: 0px">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">L</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/admin">Write</a></li>
						<li><a href="/admin/management/1">Management</a></li>
						<li><a href="/admin/upload">Upload</a></li>
						<li><a href="/admin/show">Show</a></li>
					</ul>
				</div>
			</div>	
		</nav>
		
		<div class="container-fluid">
			{% block body %}
			{% endblock %}
		</div>

		<div class="row" style="background-color: black">
			<span>t</span>
		</div>
	</div>
</body>
</html>