{% extends "head.html" %}
{% block body %}

<div class="row" style="background-color: #F5F6F9;padding-right: 0px">
	<div class="wrapper">
   		<img style="width: 100%; height: 100%" src="{{url_for('static',filename = 'uploads/hospital.png')}}" class="img-responsive" alt="Responsive image">
	</div>
	
</div>
<div class="row" style="padding-left: 50px; padding-right: 50px;">
	<div class="col-md-4">
		<h2 style="color: #FCC">History</h2>
		<p>Bluepital opened in April, 2016 and was the first Full Service, Acute Care Hospital in the Town of ASU. We are open 24 hours a day, seven days a week and offer a complete array of hospital services.</p>
	</div>
	<div class="col-md-4">
		<h2 style="color: #FCC">What makes us different</h2>
		<p>At Bluepital our patient-focused approach is intended to promote the highest level of patient outcomes and satisfaction. Everyone is unique, and we provide individualized care to each of our patients.

</p>
	</div>
	<div class="col-md-4">
		<h2 style="color: #FCC">Thanks for: </h2>
		<p>Professor Usha Janannathan!</p>	
	</div>
</div>

{% endblock %}