{% extends "head.html" %}
{% block body %}

<div class="row" style="background-color: #F5F6F9;padding-right: 0px">
	<div class="col-md-2" style="min-height: 650px; background-color: #339999">
		<h3 style="color: white">About Us</h3>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<img class = "img-rounded img-responsive" src="{{url_for('static',filename='uploads/logo.png')}}">
				<span style="color: white; padding-bottom: 10px">Mayukh</span>
			</div>
		</div>
	</div>
	<div class="col-md-10" style="padding: 0px;background-color: #F5F6F9">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
			<h1 style="color: #000000">PyPiFrog</h1>
				{% for post in posts %}
					<article>
						<a href="/articles/{{post.id}}" style="text-decoration: None">
							<h2>{{post.title}}</h2>
							<p style="color:gray">{{post.types}} | {{post.date}}</p>
						</a>
					</article>	
				{% endfor %}				
			</div>
		</div>
	</div>
</div>

{% endblock %}