{% extends "head.html" %}
{% block body %}

<div class="row">
	<h1 style="padding-top: 150px; padding-left: 60px" class = "col-md-1 col-md-offset-5">Login</h1>
</div>
<div class = "row" >
	<div class = "col-md-4 col-md-offset-4">
		<form style="border-style: groove; border-radius: 25px; padding-left: 20px" 
		class = "form-signin" method = "post" action = "/">
	    user ID:<br>
		<input type="text" name = "ID"></input><br><br>
		password:<br>
		<input type="text" name = "password"></input><br><br>
		I am a <select name = "position">
			<option value = "manager">Manager</option>
			<option value = "doctor">Doctor</option>
			<option value = "nurse">Nurse</option>
		</select><br><br>
		<input type = "submit" name = "commit" value = "submit"></input>
		<br>
	</form>
	</div>
</div>

{% endblock %}